@font-face {
    font-family: "montserrat";
    src: url(./fonts/Montserrat-VariableFont_wght.ttf) format("ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "inter";
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf) format("ttf");
    font-weight: normal;
    font-style: normal;
}

/* COMIENZO DE PAGINA */

body, html {
    background-color: #9e9e9e;
    font-family: "inter", sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/* HEADER */
header {
    background-color: #616161;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
    height: 1.5cm;
    border-bottom: 3px solid #607d8b;
    margin-bottom: 0px;
    
}

.img-logo {
    width: 30px;
    height: auto;
    border-radius: 30px;
    border: 3px solid #607d8b;
}

.navbar {
    padding: 0px;
    margin-left: 11vw;
    letter-spacing: 1.5px;
    font-size: 10PX;    
}

.navbar-list {
    list-style: none;
    display: flex;
    font-family: "inter";   
}

.navbar-list a {
    text-decoration: none;
    font-weight: bold;
    padding: 0px 20px;
    color: white;
}

.navbar-list a:hover {
    font-size: 12px;
}

.navbar-list a:active {
    color: #9e9e9e;
}

.navbar-list-separate {
    color: white;
    opacity: 30%;
}
.name-web {
    font-size: 16px;
    margin-right: 0vw;
    letter-spacing: 2px;
    word-spacing: 3px;
    color: #aae3ff;
    font-weight: bold;
    font-family: "montserrat";
}

/* SECCION NOTICIA DIA */

.main-new {
    background-color: #616161;
    margin:16px 16px;
    border-radius: 10px;
    font-family: "inter";
    color: white;
    border: 2px solid #607d8b;
    display: flex;
}

.container-main-new {
    margin-left: 1vw;
    margin-right: 10vw
}

.title-new {
    font-family: "montserrat";
    font-size: 42px;
}

.grid-img-new {
    padding: 1vw 3vw;
    border-left: 5px solid #607d8b;
}

.grid-img-new img {
    width: 3cm;
    border-radius: 5px;
    padding: 0.5vw;
}

/* CARROSULES DE OTRAS NOTICIAS */

.carrousel-news {
    background-color: #616161;
    margin:16px 16px;
    border-radius: 10px;
    font-family: "inter";
    color: white;
    border: 2px solid #607d8b;
}

.news-container {
    margin: 1.5vw 2vw;
}

.list-news {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-news a {
    text-decoration: none;
}

.list-news li {
    background-color: #aae3ff;
    width: 15vw;
    height: 18vh;
    border-radius: 10px;
    display: grid;
    place-items: center;
}

/* EXPERIMENT */

.experiment {
    background-color: #616161;
    margin:16px 16px;
    border-radius: 10px;
    font-family: "inter";
    color: white;
    border: 2px solid #607d8b;
    display: flex;
}

.container-experiment {
    margin-left: 1vw;
    margin-right: 10vw
}

.title-exp {
    font-family: "montserrat";
    font-size: 42px;
}

.grid-img-experiment {
    padding: 1vw 3vw;
    border-left: 5px solid #607d8b;
}

.grid-img-experiment img {
    width: 3cm;
    border-radius: 5px;
    padding: 0.5vw;
}

/* FOOTER */

footer {
    background-color: #616161;
    padding: 0;
    margin: 0;
}
